<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <p>Your string: <%= @word %> is: <%= @pig_latin %> in Pig Latin</p>
  </body>
</html>
